Repository humanprotocol/human-protocol, pull requests merged in 2023-06, with the labels that each got.

#535 feat: update contract address in sdk
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/constants.py
  packages/sdk/typescript/human-protocol-sdk/src/constants.ts
  packages/sdk/typescript/human-protocol-sdk/src/types.ts
Labels: SDK

#533 [CVAT][Exchange Oracle] Major refactoring
  packages/examples/cvat/exchange-oracle/alembic/env.py
  packages/examples/cvat/exchange-oracle/alembic/versions/b819f6138bca_create_webhook_model.py
  packages/examples/cvat/exchange-oracle/alembic/versions/ce33c3abb3b5_initial_migration.py
  packages/examples/cvat/exchange-oracle/src/api.py
  packages/examples/cvat/exchange-oracle/src/api_schema.py
  packages/examples/cvat/exchange-oracle/src/config.py
  packages/examples/cvat/exchange-oracle/src/constants.py
  packages/examples/cvat/exchange-oracle/src/cron.py
  packages/examples/cvat/exchange-oracle/src/error_handlers.py
  packages/examples/cvat/exchange-oracle/src/modules/api.py
  packages/examples/cvat/exchange-oracle/src/modules/api_schema.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/__init__.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/web3.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/api.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/api_schema.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/helpers.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/job_creation.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhooks/__init__.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhooks/constants.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhooks/model.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhooks/process_pending.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhooks/service.py
  packages/examples/cvat/exchange-oracle/src/modules/webhook/api.py
  packages/examples/cvat/exchange-oracle/src/modules/webhook/api_schema.py
  packages/examples/cvat/exchange-oracle/src/utils/escrow.py
  packages/examples/cvat/exchange-oracle/src/utils/helpers.py
  packages/examples/cvat/exchange-oracle/src/validators/signature.py
  packages/examples/cvat/exchange-oracle/src/validators/validation.py
  packages/examples/cvat/exchange-oracle/tests/api/test_webhook.py
  packages/examples/cvat/exchange-oracle/tests/integration/test_webhook_service.py
Labels: CVAT

#541 fix: sdk storage module to return url after upload
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/storage.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_storage.py
  packages/sdk/typescript/human-protocol-sdk/src/storage.ts
  packages/sdk/typescript/human-protocol-sdk/src/types.ts
  packages/sdk/typescript/human-protocol-sdk/test/storage.test.ts
Labels: SDK

#575 Feat/exchange oracle
  package.json
  packages/apps/fortune/docker-compose.yml
  packages/apps/fortune/exchange-oracle/server/.eslintrc.js
  packages/apps/fortune/exchange-oracle/server/.gitignore
  packages/apps/fortune/exchange-oracle/server/.prettierrc
  packages/apps/fortune/exchange-oracle/server/README.md
  packages/apps/fortune/exchange-oracle/server/jest.config.ts
  packages/apps/fortune/exchange-oracle/server/nest-cli.json
  packages/apps/fortune/exchange-oracle/server/package.json
  packages/apps/fortune/exchange-oracle/server/src/app.controller.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/app.controller.ts
  packages/apps/fortune/exchange-oracle/server/src/app.module.ts
  packages/apps/fortune/exchange-oracle/server/src/common/config/env.ts
  packages/apps/fortune/exchange-oracle/server/src/common/config/index.ts
  packages/apps/fortune/exchange-oracle/server/src/common/config/networks.ts
  packages/apps/fortune/exchange-oracle/server/src/common/decorators/index.ts
  packages/apps/fortune/exchange-oracle/server/src/common/decorators/public.ts
  packages/apps/fortune/exchange-oracle/server/src/common/validators/ethers.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/common/validators/ethers.ts
  packages/apps/fortune/exchange-oracle/server/src/common/validators/index.ts
  packages/apps/fortune/exchange-oracle/server/src/main.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.controller.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.controller.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.dto.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.module.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.service.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.service.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/web3/web3.module.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/web3/web3.service.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/web3/web3.service.ts
  packages/apps/fortune/exchange-oracle/server/test/app.e2e-spec.ts
  packages/apps/fortune/exchange-oracle/server/test/jest-e2e.json
  packages/apps/fortune/exchange-oracle/server/tsconfig.build.json
  packages/apps/fortune/exchange-oracle/server/tsconfig.json
  packages/apps/fortune/package.json
  packages/examples/fortune-v2/job-launcher/server/src/main.ts
  packages/examples/fortune-v2/recording-oracle/src/main.ts
  packages/sdk/typescript/human-protocol-sdk/src/constants.ts
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/queries.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
  yarn.lock
Labels: Fortune

#604 Fortune: Recording Oracle Multi Chain Support
  packages/apps/fortune/docker-compose.yml
  packages/apps/fortune/recording-oracle/jest.config.js
  packages/apps/fortune/recording-oracle/package.json
  packages/apps/fortune/recording-oracle/src/common/config/ethereum.config.ts
  packages/apps/fortune/recording-oracle/src/common/constants/index.ts
  packages/apps/fortune/recording-oracle/src/common/constants/network.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.controller.spec.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.module.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.service.spec.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.service.ts
  packages/apps/fortune/recording-oracle/src/modules/web3/web3.module.ts
  packages/apps/fortune/recording-oracle/src/modules/web3/web3.service.spec.ts
  packages/apps/fortune/recording-oracle/src/modules/web3/web3.service.ts
  yarn.lock
Labels: Fortune
