Repository humanprotocol/human-protocol, pull requests merged in 2023-03, with the labels that each got.

#272 Check if address exist on workers array to avoid duplicate entries
  packages/examples/fortune/reputation-oracle/src/services/rewards.ts
Labels: bug, Fortune

#299 How to deploy fortune on vercel and update readme
  packages/examples/fortune/README.md
  packages/examples/fortune/exchange/README.md
  packages/examples/fortune/launcher/client/README.md
  packages/examples/fortune/launcher/server/README.md
  packages/examples/fortune/recording-oracle/README.md
  packages/examples/fortune/reputation-oracle/.env.development
  packages/examples/fortune/reputation-oracle/README.md
Labels: Fortune

#325 Smart contracts continuous deployment
  .github/workflows/cd-deploy-contracts.yaml
  CONTRACTS_LIST.md
  packages/core/.openzeppelin/bsc-testnet.json
  packages/core/.openzeppelin/bsc.json
  packages/core/.openzeppelin/goerli.json
  packages/core/.openzeppelin/polygon-mumbai.json
  packages/core/.openzeppelin/polygon.json
  packages/core/.openzeppelin/unknown-1284.json
  packages/core/.openzeppelin/unknown-1287.json
  packages/core/README.md
  packages/core/package.json
  packages/core/scripts/upgrade-proxies.ts
Labels: Contracts, Core

#329 Add path into contracts CD
  .github/workflows/cd-deploy-contracts.yaml
Labels: Core

#339 Implemented encryption module
  packages/examples/fortune-v2/job-launcher/server/package.json
  packages/examples/fortune-v2/job-launcher/server/src/common/helpers/encryption.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/helpers/index.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/helpers/interface.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/helpers/json.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/interfaces/encryption.ts
  packages/examples/fortune-v2/job-launcher/server/src/index.ts
  yarn.lock
Labels: Fortune

#341 Job launcher/encrypt manifest
  packages/examples/fortune-v2/assets/fortune-v2-encryption-and-decryption-diagram.png
  packages/examples/fortune-v2/assets/fortune-v2-flow-diagram.png
  packages/examples/fortune-v2/assets/fortune-v2-oracles-communication-diagram.png
  packages/examples/fortune-v2/exchange-oracle/server/.github/ISSUE_TEMPLATE/bug_report.md
  packages/examples/fortune-v2/exchange-oracle/server/.github/ISSUE_TEMPLATE/new-feature.md
  packages/examples/fortune-v2/exchange-oracle/server/.github/PULL_REQUEST_TEMPLATE.md
  packages/examples/fortune-v2/exchange-oracle/server/.github/workflows/trigger_docker_build_and_deploy.yml
  packages/examples/fortune-v2/exchange-oracle/server/README.md
  packages/examples/fortune-v2/job-launcher/server/.github/ISSUE_TEMPLATE/bug_report.md
  packages/examples/fortune-v2/job-launcher/server/.github/ISSUE_TEMPLATE/new-feature.md
  packages/examples/fortune-v2/job-launcher/server/.github/PULL_REQUEST_TEMPLATE.md
  packages/examples/fortune-v2/job-launcher/server/.github/workflows/trigger_docker_build_and_deploy.yml
  packages/examples/fortune-v2/job-launcher/server/README.md
  packages/examples/fortune-v2/job-launcher/server/src/common/constants/errors.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/decorators/job.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/job.entity.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/job.service.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/serializers/job.responses.ts
  packages/examples/fortune-v2/job-launcher/server/src/migrations/1677868006407-addJobTable.ts
  packages/examples/fortune-v2/job-launcher/server/src/storage/storage.service.ts
  packages/examples/fortune-v2/recording-oracle/server/.github/ISSUE_TEMPLATE/bug_report.md
  packages/examples/fortune-v2/recording-oracle/server/.github/ISSUE_TEMPLATE/new-feature.md
  packages/examples/fortune-v2/recording-oracle/server/.github/PULL_REQUEST_TEMPLATE.md
  packages/examples/fortune-v2/recording-oracle/server/.github/workflows/trigger_docker_build_and_deploy.yml
  packages/examples/fortune-v2/recording-oracle/server/README.md
  packages/examples/fortune-v2/reputation-oracle/server/.github/ISSUE_TEMPLATE/bug_report.md
  packages/examples/fortune-v2/reputation-oracle/server/.github/ISSUE_TEMPLATE/new-feature.md
  packages/examples/fortune-v2/reputation-oracle/server/.github/PULL_REQUEST_TEMPLATE.md
  packages/examples/fortune-v2/reputation-oracle/server/.github/workflows/trigger_docker_build_and_deploy.yml
  packages/examples/fortune-v2/reputation-oracle/server/README.md
Labels: Fortune

#345 Update CONTRIBUTING.MD file
  CONTRIBUTING.MD
  packages/apps/escrow-dashboard/src/components/App/App.tsx
  packages/examples/fortune/exchange/package.json
  packages/examples/fortune/launcher/client/src/index.tsx
  yarn.lock
Labels: documentation

#357 Added user balance logic
  packages/examples/fortune-v2/job-launcher/server/src/common/constants/errors.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/constants/index.ts
  packages/examples/fortune-v2/job-launcher/server/src/common/enums/job.ts
  packages/examples/fortune-v2/job-launcher/server/src/currency/currency.service.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/job.controller.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/job.cron.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/job.module.ts
  packages/examples/fortune-v2/job-launcher/server/src/job/job.service.ts
  packages/examples/fortune-v2/job-launcher/server/src/migrations/1677868006407-addJobTable.ts
  packages/examples/fortune-v2/job-launcher/server/src/migrations/1678798152420-addPaymentTable.ts
  packages/examples/fortune-v2/job-launcher/server/src/payment/dto/index.ts
  packages/examples/fortune-v2/job-launcher/server/src/payment/interfaces/confirm.ts
  packages/examples/fortune-v2/job-launcher/server/src/payment/payment.controller.ts
  packages/examples/fortune-v2/job-launcher/server/src/payment/payment.entity.ts
  packages/examples/fortune-v2/job-launcher/server/src/payment/payment.service.ts
  packages/examples/fortune-v2/job-launcher/server/src/user/user.module.ts
  packages/examples/fortune-v2/job-launcher/server/src/user/user.service.ts
Labels: Fortune

#358 Recording oracle/webhook
  packages/examples/fortune-v2/exchange-oracle/server/src/app.module.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/decorators/webhook.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/helpers/encryption.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/helpers/index.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/helpers/json.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/interfaces/encryption.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/interfaces/signature.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/dto/create.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/dto/update.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/interfaces/create.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/interfaces/update.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/webhook-outgoing.entity.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/webhook.module.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/webhook.service.ts
  packages/examples/fortune-v2/job-launcher/server/src/currency/currency.service.ts
  packages/examples/fortune-v2/job-launcher/server/src/payment/dto/confirm.ts
  packages/examples/fortune-v2/recording-oracle/server/src/common/decorators/webhook.ts
  packages/examples/fortune-v2/recording-oracle/server/src/common/enums/errors.ts
  packages/examples/fortune-v2/recording-oracle/server/src/common/interfaces/signature.ts
  packages/examples/fortune-v2/recording-oracle/server/src/migrations/1677750428969-addWebhookOutgoingTable.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/dto/create.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/dto/update.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/interfaces/create.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/interfaces/update.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/webhook-outgoing.entity.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/webhook.controller.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/webhook.service.ts
Labels: Fortune

#359 Added base webhook module
  packages/examples/fortune-v2/exchange-oracle/server/src/common/guards/signature.ts
  packages/examples/fortune-v2/recording-oracle/server/src/webhook/webhook.service.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/app.module.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/constants/index.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/decorators/webhook.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/enums/chain.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/enums/errors.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/enums/job.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/enums/storage.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/guards/index.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/guards/signature.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/helpers/encryption.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/helpers/index.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/helpers/interface.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/helpers/json.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/interfaces/encryption.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/common/interfaces/signature.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/migrations/1678011588667-addWebhookIncomingTable.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/migrations/1678094031273-addReputationOracleTable.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/dto/approve.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/dto/create.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/dto/index.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/dto/search.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/dto/update.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/interfaces/create.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/interfaces/index.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/reputation/interfaces/update.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/dto/create.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/dto/update.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/interfaces/create.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/interfaces/update.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/webhook-incoming.entity.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/webhook.controller.ts
  packages/examples/fortune-v2/reputation-oracle/server/src/webhook/webhook.service.ts
Labels: Fortune

#360 Added oracle client
  packages/examples/fortune-v2/exchange-oracle/server/src/common/enums/chain.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/enums/errors.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/enums/job.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/enums/storage.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/common/guards/index.ts
  packages/examples/fortune-v2/exchange-oracle/server/src/webhook/webhook.service.ts
Labels: Fortune

#362 Monorepo Cleanup
  .github/workflows/ci-dependency-review.yaml
  package.json
  packages/apps/faucet-server/package.json
  packages/apps/faucet-server/src/index.ts
  yarn.lock
Labels: WIP
