Repository humanprotocol/human-protocol, pull requests merged in 2023-04, with the labels that each got.

#372 Add Stripe keys
  packages/examples/fortune/launcher/server/.env.development
Labels: Fortune

#392 Exchange Server
  packages/examples/fortune/exchange-oracle/client/.dockerignore
  packages/examples/fortune/exchange-oracle/client/.env.development
  packages/examples/fortune/exchange-oracle/client/.eslintrc.json
  packages/examples/fortune/exchange-oracle/client/Dockerfile
  packages/examples/fortune/exchange-oracle/client/README.md
  packages/examples/fortune/exchange-oracle/client/index.html
  packages/examples/fortune/exchange-oracle/client/package.json
  packages/examples/fortune/exchange-oracle/client/public/favicon.ico
  packages/examples/fortune/exchange-oracle/client/public/manifest.json
  packages/examples/fortune/exchange-oracle/client/public/robots.txt
  packages/examples/fortune/exchange-oracle/client/src/App.css
  packages/examples/fortune/exchange-oracle/client/src/App.test.tsx
  packages/examples/fortune/exchange-oracle/client/src/App.tsx
  packages/examples/fortune/exchange-oracle/client/src/components/Escrow/Escrow.css
  packages/examples/fortune/exchange-oracle/client/src/components/Escrow/Escrow.test.tsx
  packages/examples/fortune/exchange-oracle/client/src/components/Escrow/Escrow.tsx
  packages/examples/fortune/exchange-oracle/client/src/components/Escrow/index.ts
  packages/examples/fortune/exchange-oracle/client/src/connectors/chains.ts
  packages/examples/fortune/exchange-oracle/client/src/connectors/connectors.ts
  packages/examples/fortune/exchange-oracle/client/src/index.css
  packages/examples/fortune/exchange-oracle/client/src/main.tsx
  packages/examples/fortune/exchange-oracle/client/src/reportWebVitals.ts
  packages/examples/fortune/exchange-oracle/client/src/services/RecordingOracle/RecordingClient.ts
  packages/examples/fortune/exchange-oracle/client/src/vite-env.d.ts
  packages/examples/fortune/exchange-oracle/client/tests/setup.ts
  packages/examples/fortune/exchange-oracle/client/tests/utils.tsx
  packages/examples/fortune/exchange-oracle/client/tsconfig.json
  packages/examples/fortune/exchange-oracle/client/vercel.json
  packages/examples/fortune/exchange-oracle/client/vite.config.ts
  packages/examples/fortune/exchange-oracle/server/README.md
  packages/examples/fortune/exchange-oracle/server/index.ts
  packages/examples/fortune/exchange-oracle/server/package.json
  packages/examples/fortune/exchange-oracle/server/tsconfig.json
  packages/examples/fortune/package.json
  yarn.lock
Labels: Fortune

#414 Ex oracle server - vercel deployment and updates
  packages/examples/fortune/exchange-oracle/server/index.ts
  packages/examples/fortune/exchange-oracle/server/package.json
  packages/examples/fortune/exchange-oracle/server/vercel.json
Labels: Fortune

#420 Escrow contract
  packages/core/contracts/Escrow.sol
Labels: Contracts

#387 Feat/python sdk storage
  packages/sdk/python/human-protocol-sdk/Pipfile
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/job.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/storage.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/storage/test_bucket.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/storage/test_storage.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_job.py
Labels: SDK

#428 fix contracts compile failing randomly in workflow
  .github/workflows/cd-core.yaml
  .github/workflows/cd-deploy-contracts.yaml
  .github/workflows/cd-node-basemodels.yaml
  .github/workflows/cd-node-sdk.yaml
  .github/workflows/cd-subgraph.yaml
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-test-core.yaml
  .github/workflows/ci-test-escrow-dashboard.yaml
  .github/workflows/ci-test-faucet-server.yaml
  .github/workflows/ci-test-fortune.yaml
  .github/workflows/ci-test-meta-code-verify.yml
  .github/workflows/ci-test-node-basemodels.yaml
  .github/workflows/ci-test-node-sdk.yaml
  .github/workflows/ci-test-python-sdk.yaml
  .github/workflows/ci-test-subgraph.yaml
Labels: bug
