Repository humanprotocol/human-protocol, pull requests merged in 2023-01, with the labels that each got.

#173 add fortune v1 doc
  docs/Fortune-v1.md
Labels: Fortune

#201 Feature/deploy bsc testnet
  .github/workflows/cd-subgraph.yaml
  CONTRACTS_LIST.md
  packages/core/README.md
  packages/core/hardhat.config.ts
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/sdk/typescript/subgraph/README.md
  packages/sdk/typescript/subgraph/config/bsctest-v1.json
  packages/sdk/typescript/subgraph/config/chapel.json
Labels: Contracts

#198 Feature/reputation multichain
  packages/examples/fortune/package.json
  packages/examples/fortune/reputation-oracle/src/constants/constants.ts
  packages/examples/fortune/reputation-oracle/src/index.ts
  packages/examples/fortune/reputation-oracle/src/services/escrow.test.ts
  packages/examples/fortune/reputation-oracle/src/services/escrow.ts
  packages/examples/fortune/reputation-oracle/src/services/manifest.ts
  packages/examples/fortune/reputation-oracle/src/services/rewards.test.ts
  packages/examples/fortune/reputation-oracle/src/services/rewards.ts
  packages/examples/fortune/reputation-oracle/src/utils/url.ts
Labels: Fortune

#203 Deploy contracts with proxies on Goerli
  .github/workflows/cd-subgraph.yaml
  CONTRACTS_LIST.md
  packages/apps/escrow-dashboard/src/constants/index.ts
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/sdk/typescript/subgraph/config/goerli-v1.json
  packages/sdk/typescript/subgraph/package.json
Labels: Contracts

#207 Deploy contracts with proxies on Moonbase Alpha Tesnet
  .github/workflows/cd-subgraph.yaml
  CONTRACTS_LIST.md
  packages/apps/escrow-dashboard/src/constants/index.ts
  packages/core/hardhat.config.ts
  packages/core/scripts/deploy-proxies.ts
  packages/examples/fortune/launcher/server/src/constants/curseWords.ts
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/examples/fortune/launcher/server/src/index.ts
  packages/examples/fortune/launcher/server/src/plugins/config.ts
  packages/examples/fortune/launcher/server/src/plugins/escrow.ts
  packages/examples/fortune/launcher/server/src/plugins/s3.ts
  packages/examples/fortune/launcher/server/src/plugins/web3.ts
  packages/examples/fortune/launcher/server/src/routes/escrow.ts
  packages/examples/fortune/launcher/server/src/routes/payments.ts
  packages/examples/fortune/launcher/server/src/schemas/escrow.ts
  packages/examples/fortune/launcher/server/src/server.ts
  packages/examples/fortune/launcher/server/tests/plugins/escrow.test.ts
  packages/examples/fortune/launcher/server/tests/plugins/web3.test.ts
  packages/examples/fortune/launcher/server/tests/routes/escrow.test.ts
  packages/examples/fortune/launcher/server/tests/setup.ts
  packages/examples/fortune/launcher/server/tests/utils.ts
  packages/examples/fortune/launcher/server/tsconfig.json
  packages/examples/fortune/launcher/server/vitest.config.ts
  packages/examples/fortune/reputation-oracle/src/constants/constants.ts
  packages/sdk/typescript/subgraph/config/moonbase-alpha-v1.json
Labels: Contracts

#212 Fix subgraphs url for avalanche
  packages/apps/escrow-dashboard/src/constants/index.ts
Labels: bug
