Repository humanprotocol/human-protocol, pull requests merged in 2023-02, with the labels that each got.

#214 Feature/exchange wallet connect
  package.json
  packages/examples/fortune/README.md
  packages/examples/fortune/exchange/.env.development
  packages/examples/fortune/exchange/package.json
  packages/examples/fortune/exchange/src/App.css
  packages/examples/fortune/exchange/src/App.tsx
  packages/examples/fortune/exchange/src/components/Escrow/Escrow.tsx
  packages/examples/fortune/exchange/src/components/Escrow/__snapshots__/Escrow.test.tsx.snap
  packages/examples/fortune/exchange/src/connectors/chains.ts
  packages/examples/fortune/exchange/src/connectors/connectors.ts
  packages/examples/fortune/exchange/src/index.tsx
  packages/examples/fortune/exchange/src/services/RecordingOracle/RecordingClient.ts
  packages/examples/fortune/exchange/src/utils/web3.ts
  packages/examples/fortune/package.json
  yarn.lock
Labels: WIP

#218 Feature/deploy proxy polygon
  .github/workflows/cd-subgraph.yaml
  CONTRACTS_LIST.md
  packages/apps/escrow-dashboard/src/constants/index.ts
  packages/core/hardhat.config.ts
  packages/examples/fortune/launcher/client/src/constants/index.ts
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/sdk/typescript/subgraph/config/matic.json
  packages/sdk/typescript/subgraph/config/polygon-v1.json
  packages/sdk/typescript/subgraph/package.json
Labels: Contracts

#204 Fortune/recording oracle
  packages/core/hardhat.config.ts
  packages/examples/fortune/recording-oracle/.dockerignore
  packages/examples/fortune/recording-oracle/.env.test
  packages/examples/fortune/recording-oracle/Dockerfile
  packages/examples/fortune/recording-oracle/LICENSE
  packages/examples/fortune/recording-oracle/README.md
  packages/examples/fortune/recording-oracle/babel.config.js
  packages/examples/fortune/recording-oracle/hardhat.config.js
  packages/examples/fortune/recording-oracle/jest.config.ts
  packages/examples/fortune/recording-oracle/package.json
  packages/examples/fortune/recording-oracle/src/constants/escrow.ts
  packages/examples/fortune/recording-oracle/src/constants/networks.ts
  packages/examples/fortune/recording-oracle/src/index.ts
  packages/examples/fortune/recording-oracle/src/interfaces/fortunes.ts
  packages/examples/fortune/recording-oracle/src/interfaces/networks.ts
  packages/examples/fortune/recording-oracle/src/interfaces/plugins.ts
  packages/examples/fortune/recording-oracle/src/interfaces/storage.ts
  packages/examples/fortune/recording-oracle/src/plugins/config.ts
  packages/examples/fortune/recording-oracle/src/plugins/curses.ts
  packages/examples/fortune/recording-oracle/src/plugins/escrow.ts
  packages/examples/fortune/recording-oracle/src/plugins/s3.ts
  packages/examples/fortune/recording-oracle/src/plugins/storage.ts
  packages/examples/fortune/recording-oracle/src/plugins/uniqueness.ts
  packages/examples/fortune/recording-oracle/src/plugins/web3.ts
  packages/examples/fortune/recording-oracle/src/routes/index.ts
  packages/examples/fortune/recording-oracle/src/server.ts
  packages/examples/fortune/recording-oracle/src/services/escrow.test.ts
  packages/examples/fortune/recording-oracle/src/services/escrow.ts
  packages/examples/fortune/recording-oracle/src/services/fortune.test.ts
  packages/examples/fortune/recording-oracle/src/services/fortune.ts
  packages/examples/fortune/recording-oracle/src/services/manifest.ts
  packages/examples/fortune/recording-oracle/src/services/recordingOracle.ts
  packages/examples/fortune/recording-oracle/src/services/reputationClient.ts
  packages/examples/fortune/recording-oracle/src/services/reputationOracleClient.ts
  packages/examples/fortune/recording-oracle/src/services/s3.ts
  packages/examples/fortune/recording-oracle/src/services/storage.test.ts
  packages/examples/fortune/recording-oracle/src/services/storage.ts
  packages/examples/fortune/recording-oracle/src/utils/url.ts
  packages/examples/fortune/recording-oracle/tests/routes/fortune.test.ts
  packages/examples/fortune/recording-oracle/tests/setup.ts
  packages/examples/fortune/recording-oracle/tsconfig.json
  packages/examples/fortune/recording-oracle/vercel.json
  packages/examples/fortune/recording-oracle/vitest.config.ts
  yarn.lock
Labels: Fortune

#226 Deploy contracts with proxies on BSC
  .github/workflows/cd-subgraph.yaml
  CONTRACTS_LIST.md
  packages/apps/escrow-dashboard/src/constants/index.ts
  packages/core/README.md
  packages/core/hardhat.config.ts
  packages/core/scripts/deploy-proxies.ts
  packages/examples/fortune/launcher/client/src/constants/index.ts
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/examples/fortune/reputation-oracle/src/constants/constants.ts
  packages/sdk/typescript/subgraph/config/bsc-v1.json
Labels: Contracts

#228 Deploy contracts with proxies on Moonbeam
  .github/workflows/cd-subgraph.yaml
  CONTRACTS_LIST.md
  packages/apps/escrow-dashboard/src/constants/index.ts
  packages/core/hardhat.config.ts
  packages/examples/fortune/launcher/client/src/constants/index.ts
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/examples/fortune/reputation-oracle/src/constants/constants.ts
  packages/sdk/typescript/subgraph/config/moonbeam-v1.json
Labels: Contracts

#232 Update fortune local config
  packages/core/contracts/Reputation.sol
  packages/examples/fortune/exchange/.env.development
  packages/examples/fortune/launcher/client/.env.development
  packages/examples/fortune/launcher/client/src/components/JobRequest.tsx
  packages/examples/fortune/launcher/client/src/constants/index.ts
  packages/examples/fortune/launcher/client/src/index.tsx
  packages/examples/fortune/launcher/server/.env.development
  packages/examples/fortune/launcher/server/.env.test
  packages/examples/fortune/launcher/server/package.json
  packages/examples/fortune/launcher/server/src/constants/networks.ts
  packages/examples/fortune/launcher/server/src/index.ts
  packages/examples/fortune/launcher/server/src/plugins/config.ts
  packages/examples/fortune/launcher/server/src/plugins/escrow.ts
  packages/examples/fortune/launcher/server/src/plugins/s3.ts
  packages/examples/fortune/launcher/server/src/plugins/web3.ts
  packages/examples/fortune/launcher/server/tests/setup.ts
  packages/examples/fortune/package.json
  packages/examples/fortune/recording-oracle/.env.development
  packages/examples/fortune/recording-oracle/.env.test
  packages/examples/fortune/recording-oracle/package.json
  packages/examples/fortune/recording-oracle/src/constants/networks.ts
  packages/examples/fortune/recording-oracle/src/index.ts
  packages/examples/fortune/recording-oracle/src/plugins/config.ts
  packages/examples/fortune/recording-oracle/src/plugins/curses.ts
  packages/examples/fortune/recording-oracle/src/plugins/s3.ts
  packages/examples/fortune/recording-oracle/src/plugins/uniqueness.ts
  packages/examples/fortune/recording-oracle/src/plugins/web3.ts
  packages/examples/fortune/recording-oracle/tests/setup.ts
  packages/examples/fortune/setupAccounts.ts
  yarn.lock
Labels: Fortune

#234 Fix subgraphs cd
  .github/workflows/cd-subgraph.yaml
Labels: bug

#239 BSC rpc down
  packages/apps/escrow-dashboard/src/constants/index.ts
Labels: bug

#240 deploy subgraphs when cd workflow is modified
  .github/workflows/cd-subgraph.yaml
Labels: bug

#244 Add ex oracle url to create job response
  packages/examples/fortune/launcher/server/src/routes/escrow.ts
  packages/examples/fortune/launcher/server/tests/routes/escrow.test.ts
Labels: Fortune

#225 Fixed bug with the substitution of already recorded answer
  packages/examples/fortune/recording-oracle/src/interfaces/fortunes.ts
  packages/examples/fortune/recording-oracle/src/interfaces/storage.ts
  packages/examples/fortune/recording-oracle/src/plugins/curses.ts
  packages/examples/fortune/recording-oracle/src/plugins/s3.ts
  packages/examples/fortune/recording-oracle/src/plugins/storage.ts
  packages/examples/fortune/recording-oracle/src/services/recordingOracle.ts
  packages/examples/fortune/reputation-oracle/src/services/rewards.test.ts
  packages/examples/fortune/reputation-oracle/src/services/rewards.ts
Labels: bug
