Repository humanprotocol/human-protocol, pull requests merged in 2023-09, with the labels that each got.

#858 Fixes after adding job requester to contract
  .github/workflows/cd-deploy-contracts.yaml
  packages/apps/job-launcher/server/src/modules/job/job.service.spec.ts
  packages/apps/job-launcher/server/src/modules/job/job.service.ts
  packages/core/scripts/upgrade-proxies.ts
Labels: bug

#850 [SDK][Agreement] Add agreement package to sdk.
  packages/sdk/python/human-protocol-sdk/Pipfile
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/agreement/__init__.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/agreement/bootstrap.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/agreement/measures.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/agreement/utils.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/agreement/validations.py
  packages/sdk/python/human-protocol-sdk/setup.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/agreement/__init__.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/agreement/conftest.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/agreement/test_bootstrap.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/agreement/test_measures.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/agreement/test_utils.py
Labels: SDK, IRA Package

#891 Reputation Oracle - database improvements
  packages/apps/job-launcher/server/src/database/database.module.ts
  packages/apps/reputation-oracle/server/.env.example
  packages/apps/reputation-oracle/server/docker-compose.yml
  packages/apps/reputation-oracle/server/src/common/config/env.ts
  packages/apps/reputation-oracle/server/src/database/database.module.ts
  packages/apps/reputation-oracle/server/src/database/migrations/1677845576145-addShema.ts
  packages/apps/reputation-oracle/server/src/database/migrations/1677845804077-installExtension.ts
  packages/apps/reputation-oracle/server/src/database/migrations/1678011588667-addWebhookIncomingTable.ts
  packages/apps/reputation-oracle/server/src/database/migrations/1678094042234-addReputationTable.ts
  packages/apps/reputation-oracle/server/src/database/migrations/1694691302615-InitialMigration.ts
  packages/apps/reputation-oracle/server/typeorm.config.ts
Labels: Oracles

#894 feat: Mark storage module as deprecated
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/storage.py
  packages/sdk/typescript/human-protocol-sdk/src/storage.ts
  packages/sdk/typescript/human-protocol-sdk/src/types.ts
Labels: SDK

#890 Reputation Oracle - Remove manifest module
  packages/apps/reputation-oracle/server/src/app.module.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.controller.spec.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.controller.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.dto.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.module.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.service.spec.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.service.ts
Labels: Oracles

#913 [SDK][Typescript][Python] Add network array to getEscrows filter
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.service.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.service.ts
  packages/sdk/python/human-protocol-sdk/example.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/escrow.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_escrow.py
  packages/sdk/typescript/human-protocol-sdk/example/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/graphql/types.ts
  packages/sdk/typescript/human-protocol-sdk/src/index.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
Labels: SDK

#930 [SDK] Add jobRequesterId to escrows filter
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/escrow.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/gql/escrow.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_escrow.py
  packages/sdk/typescript/human-protocol-sdk/src/graphql/queries/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
Labels: SDK
