Repository humanprotocol/human-protocol, pull requests merged in 2023-05, with the labels that each got.

#421 Typescript KVStore SDK
  packages/sdk/typescript/human-protocol-sdk/package.json
  packages/sdk/typescript/human-protocol-sdk/src/error.ts
  packages/sdk/typescript/human-protocol-sdk/src/init.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/kvstore.ts
  packages/sdk/typescript/human-protocol-sdk/test/kvstore.test.ts
  packages/sdk/typescript/human-protocol-sdk/tsconfig.json
Labels: SDK

#419 Python sdk staking module
  packages/core/scripts/deploy.ts
  packages/sdk/python/human-protocol-sdk/e2e/__init__.py
  packages/sdk/python/human-protocol-sdk/e2e/staking.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/constants.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/staking.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/utils.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_staking.py
Labels: SDK, Staking

#432 Python KVStore SDK
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/kvstore.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/utils.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_kvstore.py
Labels: SDK

#437 Resolve Certik v3 Reports
  packages/core/contracts/Escrow.sol
  packages/core/contracts/HMToken.sol
  packages/core/test/Escrow.ts
Labels: Contracts, Core

#425 sdk/staking
  packages/sdk/typescript/human-protocol-sdk/package.json
  packages/sdk/typescript/human-protocol-sdk/src/error.ts
  packages/sdk/typescript/human-protocol-sdk/src/init.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/queries.ts
  packages/sdk/typescript/human-protocol-sdk/src/staking.ts
  packages/sdk/typescript/human-protocol-sdk/src/utils.ts
  packages/sdk/typescript/human-protocol-sdk/test/init.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/kvstore.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/staking.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/storage.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/constants.ts
  packages/sdk/typescript/human-protocol-sdk/tsconfig.json
  yarn.lock
Labels: SDK

#456 remove sender in storeResults
  packages/core/contracts/Escrow.sol
  packages/core/contracts/interfaces/IEscrow.sol
  packages/core/test/Escrow.ts
  packages/examples/fortune/recording-oracle/src/plugins/escrow.ts
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/job.py
  packages/sdk/typescript/human-protocol-sdk/src/job.ts
  packages/sdk/typescript/subgraph/src/mapping/Escrow.ts
  packages/sdk/typescript/subgraph/template.yaml
  packages/sdk/typescript/subgraph/tests/escrow/escrow.test.ts
  packages/sdk/typescript/subgraph/tests/escrow/fixtures.ts
Labels: Contracts

#461 Add env variables in script for upgrade
  .github/workflows/cd-deploy-contracts.yaml
  packages/core/scripts/upgrade-proxies.ts
Labels: Contracts

#458 Python Escrow SDK
  packages/sdk/python/human-protocol-sdk/Pipfile
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/constants.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/escrow.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/kvstore.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/staking.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/utils.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_escrow.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_kvstore.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_staking.py
Labels: SDK

#477 Typescript requireSigner decorator
  packages/sdk/typescript/human-protocol-sdk/src/decorators.ts
  packages/sdk/typescript/human-protocol-sdk/src/kvstore.ts
  packages/sdk/typescript/human-protocol-sdk/src/staking.ts
Labels: SDK

#470 [SDK][TS] Escrow module
  packages/sdk/typescript/human-protocol-sdk/package.json
  packages/sdk/typescript/human-protocol-sdk/src/constants.ts
  packages/sdk/typescript/human-protocol-sdk/src/error.ts
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/queries.ts
  packages/sdk/typescript/human-protocol-sdk/src/storage.ts
  packages/sdk/typescript/human-protocol-sdk/src/utils.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/storage.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/constants.ts
  yarn.lock
Labels: SDK

#488 Feat/remove reputation
  packages/core/.openzeppelin/bsc-testnet.json
  packages/core/.openzeppelin/goerli.json
  packages/core/.openzeppelin/polygon-mumbai.json
  packages/core/.openzeppelin/unknown-1287.json
  packages/core/README.md
  packages/core/contracts/Reputation.sol
  packages/core/contracts/test/ReputationV0.sol
  packages/core/mx/Cargo.lock
  packages/core/mx/Cargo.toml
  packages/core/mx/README.md
  packages/core/mx/contracts/reputation/.gitignore
  packages/core/mx/contracts/reputation/Cargo.toml
  packages/core/mx/contracts/reputation/meta/Cargo.toml
  packages/core/mx/contracts/reputation/meta/src/main.rs
  packages/core/mx/contracts/reputation/multiversx.json
  packages/core/mx/contracts/reputation/src/constants.rs
  packages/core/mx/contracts/reputation/src/lib.rs
  packages/core/mx/contracts/reputation/src/proxy.rs
  packages/core/mx/contracts/reputation/tests/contract_interactions.rs
  packages/core/mx/contracts/reputation/tests/test_reputation_contract.rs
  packages/core/mx/contracts/reputation/wasm/Cargo.lock
  packages/core/mx/contracts/reputation/wasm/Cargo.toml
  packages/core/mx/contracts/reputation/wasm/src/lib.rs
  packages/core/scripts/deploy-proxies.ts
  packages/core/scripts/deploy.ts
  packages/core/scripts/upgrade-proxies.ts
  packages/core/test/Reputation.ts
  packages/examples/fortune/launcher/client/package.json
  packages/examples/fortune/reputation-oracle/src/constants/constants.ts
  packages/examples/fortune/reputation-oracle/src/index.ts
  packages/examples/fortune/reputation-oracle/src/services/reputation.test.ts
  packages/examples/fortune/reputation-oracle/src/services/reputation.ts
Labels: Fortune, Contracts, Core

#485 Clean up Typescript SDK
  packages/sdk/typescript/human-protocol-sdk/README.md
  packages/sdk/typescript/human-protocol-sdk/example/simple-existing-job.ts
  packages/sdk/typescript/human-protocol-sdk/example/simple-new-job-public.ts
  packages/sdk/typescript/human-protocol-sdk/example/simple-new-job.ts
  packages/sdk/typescript/human-protocol-sdk/jest.config.ts
  packages/sdk/typescript/human-protocol-sdk/package.json
  packages/sdk/typescript/human-protocol-sdk/src/constants.ts
  packages/sdk/typescript/human-protocol-sdk/src/error.ts
  packages/sdk/typescript/human-protocol-sdk/src/index.ts
  packages/sdk/typescript/human-protocol-sdk/src/job.ts
  packages/sdk/typescript/human-protocol-sdk/src/logger.ts
  packages/sdk/typescript/human-protocol-sdk/src/types.ts
  packages/sdk/typescript/human-protocol-sdk/src/utils.ts
  packages/sdk/typescript/human-protocol-sdk/test/job.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/storage.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/manifest.ts
Labels: SDK

#501 Typescript SDK
  packages/sdk/typescript/human-protocol-sdk/README.md
  packages/sdk/typescript/human-protocol-sdk/example/simple-existing-job.ts
  packages/sdk/typescript/human-protocol-sdk/example/simple-new-job-public.ts
  packages/sdk/typescript/human-protocol-sdk/example/simple-new-job.ts
  packages/sdk/typescript/human-protocol-sdk/jest.config.ts
  packages/sdk/typescript/human-protocol-sdk/package.json
  packages/sdk/typescript/human-protocol-sdk/src/constants.ts
  packages/sdk/typescript/human-protocol-sdk/src/decorators.ts
  packages/sdk/typescript/human-protocol-sdk/src/enums.ts
  packages/sdk/typescript/human-protocol-sdk/src/error.ts
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/index.ts
  packages/sdk/typescript/human-protocol-sdk/src/init.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/job.ts
  packages/sdk/typescript/human-protocol-sdk/src/kvstore.ts
  packages/sdk/typescript/human-protocol-sdk/src/logger.ts
  packages/sdk/typescript/human-protocol-sdk/src/queries.ts
  packages/sdk/typescript/human-protocol-sdk/src/staking.ts
  packages/sdk/typescript/human-protocol-sdk/src/storage.ts
  packages/sdk/typescript/human-protocol-sdk/src/types.ts
  packages/sdk/typescript/human-protocol-sdk/src/utils.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/init.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/job.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/kvstore.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/staking.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/storage.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/constants.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/manifest.ts
  packages/sdk/typescript/human-protocol-sdk/tsconfig.json
  packages/sdk/typescript/human-protocol-sdk/vitest.config.ts
  yarn.lock
Labels: SDK

#503 Change fastapi_utils to apscheduler
  packages/examples/cvat/exchange-oracle/poetry.lock
  packages/examples/cvat/exchange-oracle/pyproject.toml
  packages/examples/cvat/exchange-oracle/src/config.py
  packages/examples/cvat/exchange-oracle/src/cron.py
Labels: SDK

#509 CVAT Exchange Oracle integration tests
  packages/examples/cvat/exchange-oracle/src/modules/cvat/model.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/service.py
  packages/examples/cvat/exchange-oracle/src/modules/webhook/service.py
  packages/examples/cvat/exchange-oracle/tests/integration/test_cvat_service.py
  packages/examples/cvat/exchange-oracle/tests/integration/test_webhook_service.py
Labels: CVAT

#521 Update dependencies to avoid yarn install error
  packages/examples/fortune/launcher/server/tests/plugins/stripe.test.ts
  packages/examples/fortune/launcher/server/tsconfig.json
  packages/sdk/typescript/subgraph/package.json
  yarn.lock
Labels: bug

#519 fix node.js sdk lint
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/staking.ts
  packages/sdk/typescript/human-protocol-sdk/src/storage.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/init.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/staking.test.ts
Labels: SDK

#528 Prepare code for integrating `human-protocol-sdk`
  packages/examples/cvat/exchange-oracle/src/modules/cvat/job_creation.py
  packages/examples/cvat/exchange-oracle/src/modules/webhook/api.py
  packages/examples/cvat/exchange-oracle/src/modules/webhook/process_pending.py
  packages/examples/cvat/exchange-oracle/src/utils/escrow.py
  packages/examples/cvat/exchange-oracle/src/utils/helpers.py
Labels: CVAT

#526 fix: node and python sdk for release
  .github/workflows/cd-python-sdk.yaml
  packages/sdk/python/human-protocol-sdk/.gitignore
  packages/sdk/python/human-protocol-sdk/MANIFEST.in
  packages/sdk/python/human-protocol-sdk/Makefile
  packages/sdk/python/human-protocol-sdk/Pipfile
  packages/sdk/python/human-protocol-sdk/setup.py
  packages/sdk/typescript/human-protocol-sdk/package.json
  packages/sdk/typescript/human-protocol-sdk/src/constants.ts
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
  packages/sdk/typescript/human-protocol-sdk/tsconfig.json
  yarn.lock
Labels: SDK
