Repository humanprotocol/human-protocol, pull requests merged in 2023-07, with the labels that each got.

#593 Add typescript encryption module
  packages/sdk/typescript/human-protocol-sdk/src/encryption.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/test/encryption.test.ts
Labels: SDK

#632 Added `construct_sign_and_send_raw_middleware`
  packages/examples/cvat/exchange-oracle/src/modules/chain/web3.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/jobs/retrieve_annotations.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhook/helpers.py
Labels: CVAT

#638 Added reputation oracle webhook processing
  packages/examples/cvat/recording-oracle/README.MD
  packages/examples/cvat/recording-oracle/alembic/versions/7646ac35edcd_initial_migration.py
  packages/examples/cvat/recording-oracle/poetry.lock
  packages/examples/cvat/recording-oracle/pyproject.toml
  packages/examples/cvat/recording-oracle/src/.env.example
  packages/examples/cvat/recording-oracle/src/config.py
  packages/examples/cvat/recording-oracle/src/cron.py
  packages/examples/cvat/recording-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/recording-oracle/src/modules/chain/kvstore.py
  packages/examples/cvat/recording-oracle/src/modules/chain/web3.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api_schema.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/constants.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/helpers.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/__init__.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_exchange_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_reputation_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/model.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/service.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/validate_signature.py
Labels: CVAT

#639 Remove InitClient from Typescript SDK
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.service.spec.ts
  packages/apps/fortune/exchange-oracle/server/src/modules/job/job.service.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.service.spec.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.service.ts
  packages/apps/job-launcher/server/src/modules/job/job.service.spec.ts
  packages/apps/job-launcher/server/src/modules/job/job.service.ts
  packages/apps/reputation-oracle/server/src/modules/webhook/webhook.service.spec.ts
  packages/apps/reputation-oracle/server/src/modules/webhook/webhook.service.ts
  packages/sdk/typescript/human-protocol-sdk/src/error.ts
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/src/index.ts
  packages/sdk/typescript/human-protocol-sdk/src/init.ts
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/kvstore.ts
  packages/sdk/typescript/human-protocol-sdk/src/staking.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/init.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/kvstore.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/staking.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/constants.ts
Labels: SDK

#623 Add python encryption module to SDK
  packages/sdk/python/human-protocol-sdk/Pipfile
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/encryption.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/escrow.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/kvstore.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/staking.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/storage.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_encryption.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/utils/__init__.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/utils/encryption.py
  packages/sdk/typescript/human-protocol-sdk/src/encryption.ts
  packages/sdk/typescript/human-protocol-sdk/test/encryption.test.ts
  packages/sdk/typescript/human-protocol-sdk/test/utils/constants.ts
Labels: SDK

#653 [fortune] [reputation-oracle] get reputation endpoint
  packages/apps/reputation-oracle/server/.env.example
  packages/apps/reputation-oracle/server/src/common/config/env.ts
  packages/apps/reputation-oracle/server/src/common/enums/reputation.ts
  packages/apps/reputation-oracle/server/src/modules/reputation/reputation.controller.spec.ts
  packages/apps/reputation-oracle/server/src/modules/reputation/reputation.controller.ts
  packages/apps/reputation-oracle/server/src/modules/reputation/reputation.dto.ts
  packages/apps/reputation-oracle/server/src/modules/reputation/reputation.module.ts
  packages/apps/reputation-oracle/server/src/modules/reputation/reputation.service.spec.ts
  packages/apps/reputation-oracle/server/src/modules/reputation/reputation.service.ts
  packages/apps/reputation-oracle/server/test/constants.ts
Labels: Fortune

#658 Init tests
  packages/examples/cvat/recording-oracle/.gitignore
  packages/examples/cvat/recording-oracle/README.MD
  packages/examples/cvat/recording-oracle/bin/start_test.sh
  packages/examples/cvat/recording-oracle/docker-compose.test.yml
  packages/examples/cvat/recording-oracle/src/db/__init__.py
  packages/examples/cvat/recording-oracle/tests/__init__.py
  packages/examples/cvat/recording-oracle/tests/conftest.py
  packages/examples/cvat/recording-oracle/tests/integration/service/test_webhook_service.py
Labels: CVAT

#660 fix: sdk staking client to add staker address when getting staker info
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/staking.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_staking.py
  packages/sdk/typescript/human-protocol-sdk/src/interfaces.ts
  packages/sdk/typescript/human-protocol-sdk/src/staking.ts
  packages/sdk/typescript/human-protocol-sdk/test/staking.test.ts
Labels: SDK

#670 Add legacy encryption to Python SDK
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/legacy_encryption.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_encryption.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_legacy_encryption.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/utils/encryption.py
Labels: SDK

#681 [Fortune] [Reputation Oracle] Add manifest endpoint
  packages/apps/reputation-oracle/server/src/app.module.ts
  packages/apps/reputation-oracle/server/src/common/interfaces/manifest.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.controller.spec.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.controller.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.dto.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.module.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.service.spec.ts
  packages/apps/reputation-oracle/server/src/modules/manifest/manifest.service.ts
  packages/apps/reputation-oracle/server/test/constants.ts
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/escrow.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/legacy_encryption.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_encryption.py
Labels: Oracles

#679 fix job launcher address and add new escrow factory variable
  packages/core/README.md
  packages/core/contracts/Escrow.sol
  packages/core/contracts/EscrowFactory.sol
  packages/core/contracts/test/EscrowFactoryV0.sol
  packages/core/test/Escrow.ts
  packages/examples/fortune/launcher/server/src/plugins/escrow.ts
  packages/examples/fortune/launcher/server/src/routes/escrow.ts
  packages/examples/fortune/launcher/server/tests/plugins/escrow.test.ts
  packages/examples/fortune/launcher/server/tests/routes/escrow.test.ts
  packages/examples/fortune/launcher/server/tests/utils.ts
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/escrow.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/test_escrow.py
  packages/sdk/typescript/human-protocol-sdk/src/escrow.ts
  packages/sdk/typescript/human-protocol-sdk/test/escrow.test.ts
Labels: bug, Contracts, Core

#680 [CVAT][Exchange Oracle] Add integration tests for `chain` module
  packages/examples/cvat/exchange-oracle/README.md
  packages/examples/cvat/exchange-oracle/bin/start_test.sh
  packages/examples/cvat/exchange-oracle/blockchain-node.Dockerfile
  packages/examples/cvat/exchange-oracle/docker-compose.test.yml
  packages/examples/cvat/exchange-oracle/poetry.lock
  packages/examples/cvat/exchange-oracle/pyproject.toml
  packages/examples/cvat/exchange-oracle/src/modules/api_schema.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/web3.py
  packages/examples/cvat/exchange-oracle/test.Dockerfile
  packages/examples/cvat/exchange-oracle/tests/api/modules/cvat/test_cvat_webhook.py
  packages/examples/cvat/exchange-oracle/tests/api/modules/oracle_webhook/test_jl_webhook.py
  packages/examples/cvat/exchange-oracle/tests/api/test_greet.py
  packages/examples/cvat/exchange-oracle/tests/integration/modules/chain/test_escrow.py
  packages/examples/cvat/exchange-oracle/tests/integration/modules/chain/test_kvstore.py
  packages/examples/cvat/exchange-oracle/tests/integration/modules/chain/test_web3.py
  packages/examples/cvat/exchange-oracle/tests/integration/service/cvat/test_cvat_service.py
  packages/examples/cvat/exchange-oracle/tests/integration/service/webhook/test_webhook_service.py
  packages/examples/cvat/exchange-oracle/tests/utils/__init__.py
  packages/examples/cvat/exchange-oracle/tests/utils/constants.py
  packages/examples/cvat/exchange-oracle/tests/utils/setup_cvat.py
  packages/examples/cvat/exchange-oracle/tests/utils/setup_escrow.py
  packages/examples/cvat/exchange-oracle/tests/utils/setup_kvstore.py
Labels: CVAT

#651 Exchange Oracle webhooks signature verification
  .github/workflows/ci-test-cvat.yaml
  packages/examples/cvat/exchange-oracle/poetry.lock
  packages/examples/cvat/exchange-oracle/pyproject.toml
  packages/examples/cvat/exchange-oracle/src/modules/api.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/web3.py
  packages/examples/cvat/exchange-oracle/src/validators/signature.py
  packages/examples/cvat/exchange-oracle/tests/api/modules/oracle_webhook/test_jl_webhook.py
  packages/examples/cvat/exchange-oracle/tests/integration/modules/chain/test_escrow.py
  packages/examples/cvat/exchange-oracle/tests/utils/constants.py
Labels: CVAT

#699 Update Exchange Oracle dependencies
  packages/examples/cvat/exchange-oracle/poetry.lock
Labels: CVAT

#711 Recording Oracle
  packages/examples/cvat/recording-oracle/.gitignore
  packages/examples/cvat/recording-oracle/.pre-commit-config.yaml
  packages/examples/cvat/recording-oracle/README.MD
  packages/examples/cvat/recording-oracle/alembic.ini
  packages/examples/cvat/recording-oracle/alembic/README
  packages/examples/cvat/recording-oracle/alembic/env.py
  packages/examples/cvat/recording-oracle/alembic/script.py.mako
  packages/examples/cvat/recording-oracle/alembic/versions/7646ac35edcd_initial_migration.py
  packages/examples/cvat/recording-oracle/bin/start_dev.sh
  packages/examples/cvat/recording-oracle/bin/start_test.sh
  packages/examples/cvat/recording-oracle/docker-compose.dev.yml
  packages/examples/cvat/recording-oracle/docker-compose.test.yml
  packages/examples/cvat/recording-oracle/poetry.lock
  packages/examples/cvat/recording-oracle/pyproject.toml
  packages/examples/cvat/recording-oracle/run.py
  packages/examples/cvat/recording-oracle/src/.env.example
  packages/examples/cvat/recording-oracle/src/__init__.py
  packages/examples/cvat/recording-oracle/src/api.py
  packages/examples/cvat/recording-oracle/src/api_schema.py
  packages/examples/cvat/recording-oracle/src/config.py
  packages/examples/cvat/recording-oracle/src/constants.py
  packages/examples/cvat/recording-oracle/src/cron.py
  packages/examples/cvat/recording-oracle/src/db/__init__.py
  packages/examples/cvat/recording-oracle/src/error_handlers.py
  packages/examples/cvat/recording-oracle/src/log.py
  packages/examples/cvat/recording-oracle/src/modules/chain/__init__.py
  packages/examples/cvat/recording-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/recording-oracle/src/modules/chain/kvstore.py
  packages/examples/cvat/recording-oracle/src/modules/chain/web3.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/__init__.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api_schema.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/constants.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/helpers.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/__init__.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_exchange_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_reputation_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/model.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/process_intermediate_results.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/service.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/validate_signature.py
  packages/examples/cvat/recording-oracle/src/validation.py
  packages/examples/cvat/recording-oracle/tests/__init__.py
  packages/examples/cvat/recording-oracle/tests/conftest.py
  packages/examples/cvat/recording-oracle/tests/integration/service/test_webhook_service.py
Labels: CVAT

#712 Rename db folder
  packages/examples/cvat/recording-oracle/alembic/env.py
  packages/examples/cvat/recording-oracle/src/database/__init__.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_exchange_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_reputation_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/model.py
  packages/examples/cvat/recording-oracle/tests/conftest.py
  packages/examples/cvat/recording-oracle/tests/integration/service/test_webhook_service.py
Labels: CVAT

#713 Added `s3_url` to Recording Oracle webhook.
  packages/examples/cvat/exchange-oracle/README.md
  packages/examples/cvat/exchange-oracle/alembic/env.py
  packages/examples/cvat/exchange-oracle/alembic/versions/7e513fd5b004_initial_migration.py
  packages/examples/cvat/exchange-oracle/src/database/__init__.py
  packages/examples/cvat/exchange-oracle/src/modules/api.py
  packages/examples/cvat/exchange-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/handlers/webhook.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/job_flows.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/jobs/retrieve_annotations.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/jobs/track_completed.py
  packages/examples/cvat/exchange-oracle/src/modules/cvat/model.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhook/helpers.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhook/jobs/process_job_launcher_webhooks.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhook/jobs/process_recording_oracle_webhooks.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhook/model.py
  packages/examples/cvat/exchange-oracle/src/modules/oracle_webhook/service.py
  packages/examples/cvat/exchange-oracle/tests/api/modules/oracle_webhook/test_jl_webhook.py
  packages/examples/cvat/exchange-oracle/tests/conftest.py
  packages/examples/cvat/exchange-oracle/tests/integration/modules/chain/test_escrow.py
  packages/examples/cvat/exchange-oracle/tests/integration/service/cvat/test_cvat_service.py
  packages/examples/cvat/exchange-oracle/tests/integration/service/webhook/test_webhook_service.py
  packages/examples/cvat/exchange-oracle/tests/utils/setup_cvat.py
Labels: CVAT

#715 [CVAT][Recording Oracle] Add integration tests for chain module
  packages/examples/cvat/recording-oracle/README.MD
  packages/examples/cvat/recording-oracle/blockchain-node.Dockerfile
  packages/examples/cvat/recording-oracle/docker-compose.test.yml
  packages/examples/cvat/recording-oracle/poetry.lock
  packages/examples/cvat/recording-oracle/src/config.py
  packages/examples/cvat/recording-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/recording-oracle/src/modules/chain/web3.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api_schema.py
  packages/examples/cvat/recording-oracle/test.Dockerfile
  packages/examples/cvat/recording-oracle/tests/integration/modules/chain/test_escrow.py
  packages/examples/cvat/recording-oracle/tests/integration/modules/chain/test_kvstore.py
  packages/examples/cvat/recording-oracle/tests/integration/modules/chain/test_web3.py
  packages/examples/cvat/recording-oracle/tests/integration/service/test_webhook_service.py
  packages/examples/cvat/recording-oracle/tests/utils/__init__.py
  packages/examples/cvat/recording-oracle/tests/utils/constants.py
  packages/examples/cvat/recording-oracle/tests/utils/setup_cvat.py
  packages/examples/cvat/recording-oracle/tests/utils/setup_escrow.py
  packages/examples/cvat/recording-oracle/tests/utils/setup_kvstore.py
Labels: CVAT

#714 Added s3_url to Exchange Oracle webhook
  packages/examples/cvat/recording-oracle/README.MD
  packages/examples/cvat/recording-oracle/alembic/versions/7646ac35edcd_initial_migration.py
  packages/examples/cvat/recording-oracle/blockchain-node.Dockerfile
  packages/examples/cvat/recording-oracle/docker-compose.test.yml
  packages/examples/cvat/recording-oracle/poetry.lock
  packages/examples/cvat/recording-oracle/src/config.py
  packages/examples/cvat/recording-oracle/src/modules/chain/escrow.py
  packages/examples/cvat/recording-oracle/src/modules/chain/web3.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/api_schema.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/helpers.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/jobs/process_exchange_oracle_webhooks.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/model.py
  packages/examples/cvat/recording-oracle/src/modules/webhook/service.py
  packages/examples/cvat/recording-oracle/test.Dockerfile
  packages/examples/cvat/recording-oracle/tests/integration/modules/chain/test_escrow.py
  packages/examples/cvat/recording-oracle/tests/integration/modules/chain/test_kvstore.py
  packages/examples/cvat/recording-oracle/tests/integration/modules/chain/test_web3.py
  packages/examples/cvat/recording-oracle/tests/integration/service/test_webhook_service.py
  packages/examples/cvat/recording-oracle/tests/utils/__init__.py
  packages/examples/cvat/recording-oracle/tests/utils/constants.py
  packages/examples/cvat/recording-oracle/tests/utils/setup_cvat.py
  packages/examples/cvat/recording-oracle/tests/utils/setup_escrow.py
  packages/examples/cvat/recording-oracle/tests/utils/setup_kvstore.py
Labels: CVAT

#730 [Recording Oracle] Job type validation
  packages/apps/fortune/recording-oracle/src/common/constants/errors.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.dto.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.service.spec.ts
  packages/apps/fortune/recording-oracle/src/modules/job/job.service.ts
Labels: bug, Fortune, Oracles
