Repository humanprotocol/human-protocol, pull requests merged in 2024-08, with the labels that each got.

#2272 [CVAT][Exchange/Recording Oracles] Add encryption support
  packages/examples/cvat/exchange-oracle/run.py
  packages/examples/cvat/exchange-oracle/src/.env.template
  packages/examples/cvat/exchange-oracle/src/chain/escrow.py
  packages/examples/cvat/exchange-oracle/src/chain/kvstore.py
  packages/examples/cvat/exchange-oracle/src/core/config.py
  packages/examples/cvat/exchange-oracle/tests/integration/chain/test_escrow.py
  packages/examples/cvat/exchange-oracle/tests/integration/chain/test_kvstore.py
  packages/examples/cvat/exchange-oracle/tests/utils/constants.py
  packages/examples/cvat/recording-oracle/run.py
  packages/examples/cvat/recording-oracle/src/.env.template
  packages/examples/cvat/recording-oracle/src/chain/escrow.py
  packages/examples/cvat/recording-oracle/src/chain/kvstore.py
  packages/examples/cvat/recording-oracle/src/core/config.py
  packages/examples/cvat/recording-oracle/tests/integration/chain/test_escrow.py
  packages/examples/cvat/recording-oracle/tests/integration/chain/test_kvstore.py
  packages/examples/cvat/recording-oracle/tests/utils/constants.py
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/encryption/encryption_utils.py
  packages/sdk/python/human-protocol-sdk/test/human_protocol_sdk/encryption/test_encryption_utils.py
Labels: CVAT

#2365 do not change status of canceled escrows
  packages/apps/job-launcher/server/src/modules/cron-job/cron-job.service.ts
Labels: bug

#2376 [Human App] Fixed `yarn build`
  packages/apps/human-app/frontend/vite.config.mjs
Labels: bug

#2397 [Subgraph] Remove eth_calls
  packages/core/contracts/Escrow.sol
  packages/core/test/Escrow.ts
  packages/sdk/python/human-protocol-sdk/human_protocol_sdk/gql/statistics.py
  packages/sdk/typescript/human-protocol-sdk/src/graphql/queries/statistics.ts
  packages/sdk/typescript/human-protocol-sdk/src/graphql/types.ts
  packages/sdk/typescript/subgraph/schema.graphql
  packages/sdk/typescript/subgraph/src/mapping/Escrow.ts
  packages/sdk/typescript/subgraph/src/mapping/legacy/Escrow.ts
  packages/sdk/typescript/subgraph/src/mapping/utils/dayUpdates.ts
  packages/sdk/typescript/subgraph/template.yaml
  packages/sdk/typescript/subgraph/tests/escrow/escrow.test.ts
  packages/sdk/typescript/subgraph/tests/escrow/fixtures.ts
  packages/sdk/typescript/subgraph/tests/hmt/hmt.test.ts
  packages/sdk/typescript/subgraph/tests/legacy/escrow/escrow.test.ts
Labels: Contracts, Core
